<div class={{class}}>
  <span>{{labelName}}</span>
  <div class="inputWrapper">
    <label for="{{id}}">
      <input
        type="{{type}}"
        name="{{inputName}}"
        value="{{value}}"
        id="{{id}}"
      />
    </label>
  </div>
</div>
