<div class='{{class}}'>
  <label class='customInputLabel' for="{{name}}">
    {{label}}
    <div class='customInputContainer'>
      <input class='customInputField' type="{{type}}" placeholder="{{placeholder}}" name="{{name}}" />
      {{#if showError}}
        <div class='errorMessage'>{{warning}}</div>
      {{/if}}
    </div>
  </label>
</div>
